{% extends 'main.html' %}

{% block content %}
<div class="card shadow-sm">
    <img src="{{ post.thumbnail.url }}" class="card-img-full img-fluid" alt="{{ post.title }}">
    <div class="card-body">
        <h5 class="card-title">
            {{ post.title }}
        </h5>
        <p class="card-text">{{ post.description }}</p>
        <p class="card-text">{{ post.text }}</p>
    </div>
    <div class="card-footer text-muted">
        Добавлено {{ post.create }} | Автор: {{ post.author.username }}
    </div>
</div>
{% endblock %}
